/*
按钮注释：整体页面级别为一级按钮（背景加色，字体白色）   部分模块级别按钮为二级按钮（背景白色，字体加色）
背景注释：按钮置灰做成原色的30%透明度
*/


/*
主色
*/
$_mc: #6390f3;//蓝色主色

/************************************************************************************
字体
************************************************************************************/
/*导航*/
$fc_main: #6390f3;//三级导航字体点击色 (主色)
$fc_ff: #fff;//一级导航白色字体色
$fc_ffe: #ffe19f;//一级导航字体悬停色
$fc_33: #333;//二级导航字体色 || 页面大标题字体色
$fc_66: #666;//三级导航字体色 || 主体文字色
$fc_98b: #98b6fe;//三级导航字体悬停色(淡蓝)
/*表格*/
$fc_48: #484848;//表格头部字体色
/*按钮*/
//一级按钮字体色($fc_ff)
//二级按钮字体色($fc_main)
//二级按钮字体悬停色($fc_98b)
$fc_fa5: #fa5b6d;//二级删除按钮字体色
$fc_ff8: #ff8593;//二级删除按钮悬停字体色
/*其他*/
$fc_99: #999;//置灰字体色


/************************************************************************************
背景
************************************************************************************/
/*导航*/
$bg_main: #6390f3;//一级导航背景色(主色)
$bg_ff: #fff;//二级导航背景色 || 三级导航背景色
/*表格*/
$bg_f2: #f2f2f2;//表格头部背景色
$bg_f8f: #f8faff;//表格鼠标悬停背景色 || 隔行变色
$bg_ea: #eaeaea;//表格禁用背景色
/*按钮*/
//一级按钮背景色($bg_main)
$fc_98b: #98b6fe;//一级按钮悬停背景色（浅蓝）
$bg_ff7: #ff7f5b;//一级保存按钮背景色
$bg_ffa: #ffaf98;//一级保存按钮悬停背景色
$bg_f8:#f8f8f8;//一级取消按钮背景色
$bg_f4:#f4f4f4;//一级取消按钮悬停背景色
//二级按钮背景色($bg_ff)
$bg_fc6: #fc6892;//页面大标题左侧标识
/*其他*/
$bg_f0: #f0f0f0;//整体页面背景色
$bg_dd: #ddd;//顶部登陆菜单背景色


/************************************************************************************
边框
************************************************************************************/
//边框
$bd_main: #6390f3;//输入框高亮显示(主色)
$bd_dee: #dee3e6;//主体边框线
$bd_ee: #eee;//导航边框色
/*按钮*/
//二级按钮边框色($bd_main)
$bd_98b: #98b6fe;//二级按钮边框色(浅蓝)
$bd_fa5: #fa5b6d;//二级删除按钮边框色
$bd_ff8: #ff8593;//二级删除按钮悬停边框色
