.metaData-content{
  
}
.metaData-choose{
    height:30px;
    padding:15px;
}   
.metaData-search{
  height: 32px;
  margin-bottom: 32px;
  .metaData-search__input{
    height: 30px;
    border: 1px solid #eee;
    width: 540px;
    margin-right: 46px;
    padding-left: 20px;
    border-radius: 4px;
  }
  .metaData-search__btn{
    width: 70px;
    height: 32px;
    cursor: pointer;
    line-height: 32px;
    text-align: center;
    border-radius: 2px;
    background: #2d8cf0;
    color: #fff;
  }
}
.metaData-table {
  .grayBg{
    td{
      background:#f7f7f7;
    }
  }
  
  border: 1px solid #eee;
  width: 100%;
  table-layout: fixed;
  a{
    color:#6390f3;
  }
  td,th{
    height: 32px;

  }
  th{
    text-align: center;
    border: 1px solid #eee;
    background: #eaeaeb;
    height: 40px;
  }
  td{
    border: 1px solid #eee;
    height: 32px;
    text-align: center;
  }

}

.metaData-create {
  
}
.metaData-create-list {
  padding-top:10px;
  li {
      float:left;
      width:210px;
      padding:5px;
  }
  label{
      float:left;
      text-align:right;
      width:70px;
  }
  input[type=text]{
      width:120px;
      border:1px solid #eee;
      padding:0 5px;
      height:30px;
      line-height:30px;
  }
}
/***select插件样式修改***/
.chosen-container{
  float:left;
  margin-top:0 !important;
}



/***********/
.createExp{
  
}
.createExp-choose{
  padding:20px;
  &__title{
    font:bold 16px/30px 'Microsoft YaHei';
    padding-bottom:10px;
  }
}
.createExp-choose-left{
  float:left;
  width:455px;
  height:500px;
  overflow:auto;
  margin:0 0 0 20px;
  border:1px solid #dee3e6
}
.createExp-choose-center{
  width:50px;
  height:500px;
  float:left;
  line-height:400px;
  text-align:center;
}
.createExp-choose-right{
  li{
    line-height:30px;
    padding:0 10px;
    cursor:pointer;
  }
  li:hover{
    background:#f2f2f2;
  }
  float:left;
  width:440px;
  height:500px;
  border:1px solid #dee3e6;
}
.deleteOrg,.deleteAccount,.deleteRole{
  img {
    width:15px;
    height:15px;
  }
}
.createExp-addcondi{
  padding:20px;
  &__title {
    font:bold 16px/30px 'Microsoft YaHei'
  }
  &__a {
    color:#6390f3;
  }
  &__li {
    padding:10px 0;
  }
  &__span{
    line-height:30px;
    text-align:right;
    width:100px;
    padding:0 10px;
  }
  &__input{
    border:1px solid #eee;
    height:30px;
    line-height:30px;
    padding:0 5px;
    width:200px;
  }

}
.createExp-btn {
  text-align:center;
  padding:20px;
}